.body {
	background: rgba(241,92,51,1.00);
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	color: white;
}

.header {
	font-size: 45px;
}

.temperature-display {
	font-size: 65px;
	margin-bottom: 50px;
}

.top-buttons {
	margin-bottom: 50px;
}


.button {
	opacity: 0.7;
	font-size: 20px;
	margin-left: 20px;
	color: #fff;
	height: 100px;
	width: 100px;
	background-color: rgba(219,76,3,1.00);
	border: none;
	border-radius: 50%;
	box-shadow: 0 13px rgba(103,41,11,1.00);
}

.button:focus {outline:0;}

.button:hover {
  background-color: rgba(167,74,6,1.00);
}

.button:active{
	background-color: rgba(139,43,8,1.00);
	box-shadow: 0 7px #27496d;
  transform: translateY(5px);
}

.energy-usage {
	color: black;
	font-size: 50px;
  width: 200px;
  height: 50px;
	margin: 100px auto;
}

.weather {
	font-size: 30px;
}
